ChatDemo-UI3.0/ChatDemo-UI3.0.xcodeproj/xcuserdata/xieyajie.xcuserdatad/xcschemes/ChatDemo-UI3.0.xcscheme
ChatDemo-UI3.0/ChatDemo-UI3.0.xcodeproj/xcuserdata/xieyajie.xcuserdatad/xcschemes/xcschememanagement.plist
ChatDemo-UI3.0/ChatDemo-UI3.0/Class/Call/libffmpeg-ios-full.a
ChatDemo-UI3.0/ChatDemo-UI3.0/Class/Call/libHyphenateAVRecorder.a
